<img class="home_logo" src="/BookShoppe_Logo_wTrans.png" alt="BookShoppe Logo">

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <a href="<%= @new_book_path %>"><h3 class="card-title"><b>Add a Book</b></h3></a>
          <p class="card-text">Add a book that you'd like to trade.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <a href="<%= @user_trades_path %>"><h3 class="card-title"><b>Trade Status</b></h3></a>
          <p class="card-text">Check the status of your trades.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <a href="<%= @user_path %>"><h3 class="card-title"><b>Account Info</b></h3></a>
          <p class="card-text">Make changes to your account.</p>
        </div>
      </div>
    </div>
  </div>
</div>