<div class="view" align="center">
	<br><h1>Login to <b>Book</b>Shoppe</h1>

	<% if @login_failed %>
		<font style="color: red;">Invalid login credentials!</font>
	<% end %><br><br>

	<%= form_tag login_path do %>
		<input type="text" name="user" placeholder=" Username or Email" value="<%= params[:user] %>"><br><br>
		<input type="password" name="password" placeholder=" Password"><br><br>
		<input type="submit" value="Login">
	<%end%>
</div