<div class="new_view" align="center">

	<h1 class="session_h1"><b>Welcome to</b></h1>
  <img class="login_logo" src="/BookShoppe_Logo_wTrans.png" alt="BookShoppe Logo">

	<h3>Please log in or <%= link_to 'sign up', new_user_path %></h3><br>

	<% if session[:login_failed] %>
		<% session[:login_failed] = false %>
		<font style="color: red;">Invalid login credentials!</font>
	<% end %><br>

	<%= form_tag login_path do %>
			<input placeholder=" Username or Email" onfocus="this.placeholder = '' " onblur="this.placeholder = ' Username or Email' " class="ff_box" type="text" name="user" value="<%= params[:user] %>"><br><br>
			<input placeholder=" Password" onfocus="this.placeholder = '' " onblur="this.placeholder = ' Password' " class="ff_box" type="password" name="password"><br><br>
		<input type="submit" value=" &nbsp Enter &nbsp ">
	<%end%>

</div>
