<h1>Sign in to #########</h1>

<% if @error %>
	<ul><li style="color: red;">Invalid email or password.</li></ul>
<% end %>

<%= form_tag login_path do %>
	<input type="email" name="email" placeholder="Email Address" value="<%= params[:email] %>"><br><br>
	<input type="password" name="password" placeholder="Password"><br><br>
	<input type="submit" value="Sign in">
<%end%>