<div class="view" align="center">

	<div class="top_padding"> </div>

	<h1><b>Welcome to</b></h1>
  <img src="/BookShoppe_Logo_wTrans.png" alt="BookShoppe Logo">

	<h3>Please log in or <%= link_to 'sign up', new_user_path %></h3>
		<br><br>
	<% if @login_failed %>
		<font style="color: red;">Invalid login credentials!</font>
	<% end %>

	<%= form_tag login_path do %>
		<input class="ff_box" type="text" name="user" placeholder=" Username or Email" value="<%= params[:user] %>"><br><br>
		<input class="ff_box" type="password" name="password" placeholder=" Password"><br><br>
		<input type="submit" value="Login">
	<%end%>

</div>