<style type="text/css">
	a { text-decoration: none; }
</style>

<h1><%= link_to @user.first_name, user_path(@user) %>'s Trades</h1><hr>

<h3>Outgoing Trade Requests</h3>
<% @user.out_trades.each do |trade| %>
	<font size='5'><%= link_to [trade.created_at.strftime('%D'), ' - Trade with ', trade.recipient.full_name].join	, trade_path(trade) %></font>
<% end %><br>&nbsp<hr>

<h3>Incoming Trade requests</h3>
<% @user.inc_trades.each do |trade| %>
	<font size='5'><%= link_to [trade.created_at.strftime('%D'), ' - Trade with ', trade.sender.full_name].join	, trade_path(trade) %></font>
<% end %><br>&nbsp<hr>