/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/**************************************************/
*{
	font-family: 'Raleway', sans-serif;
}
a.large_btn {
	font-size: 1.1em;
}
/**************************************************/
.red_btn {
  color: #BB2525;
  border-color: #BB2525;
}

.red_btn:hover {
  color: #fff;
  border-color: #BB2525;
  background-color: #BB2525;
}

.blue_btn {
  color: #5292DE;
  border-color: #5292DE;
}

.blue_btn:hover {
  color: #fff;
  border-color: #5292DE;
  background-color: #5292DE;
}

#brand-color {
  color: #8B5E3C;
}
/**************************************************/
.view {
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	height: 88vh;
	background-color: #F1F3F5;
	border-radius: 5px;
}

.view_content {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.errors {
	position: absolute;
	display: inline;
	float: right;
	color: red;
}
/**************************************************/
#waiting {
	color: #BB2525;
	display: inline-block;
	font-size: 1.5em;
	border: 1px solid;
	padding: 0.5em 1em;
	border-radius: 2em;
}

#recieved {
	color: green;
	display: inline-block;
	font-size: 1.5em;
	border: 1px solid;
	padding: 0.5em 1em;
	border-radius: 2em;
}
/**************************************************/
#chatbox {
	display: inline-block;
	position: relative;
	min-width: 90%;
	border: 2px solid;
	height: 36vh;
	margin: 3vh 0 5vh 5%;
}
#chatbox #comments {
	display: inline-block;
	position: relative;
	overflow-y: scroll;
	height: 30vh; 
	min-width: 100%;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	font-size: 1.5em;
}
#chatbox hr {
	margin: 0;
}
#chatbox form {
	position: absolute;
	bottom: 1vh;
	margin-left: 1em;
}
#chatbox button {
	border: none;
	background: none;
}
#chatbox input {
	background: none;
	width: 20em;
	border: 1px solid;
}
#chatbox input::placeholder {
	text-align: center;
}
/**************************************************/
.y-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
/**************************************************/
