// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-book-view {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	padding: 5%;
  background-color: #F1F3F5;
  border-radius: 15px;
	max-width: 700px;
	min-width: 450px;
	height: 400px;
}

.form_tag_text_box {
  width: 100%;
  min-width: 300px;
}

.new-book-content {
  align-content: left;
	padding-left: 15% auto;
	padding-right: 15% auto;
	text-align: left;
}

.new-book-error {
	align-content: right;
	display: inline;
	float: center;
	color: red;
  width: 18em;
	text-align: right;
}

.book-index-scroll {
	overflow-y: auto;
	height: 60vh;
}
