.new_view {
	margin: 5% 15%;
	padding: 5%;
  background-color: #F1F3F5;
  border-radius: 15px;
}

.login_logo {
  display: block;
  align-content: center;
  width: 45vmax;
  min-width: 35vmin;
}

.home_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 400px;
  padding: 15px;
}

.session_h1 {
  display: inline-block;
  margin: -5 px;
}

.ff_box {
  width: 35%;
  min-width: 250px;
  text-align: center;
}

.card-title {
  color: #8B5E3C;
}

.card-title:hover {
  text-decoration: underline;
  text-decoration-line: #8B5E3C;
}