img {
  display: block;
  align-content: center;
  width: 50%;
  min-width: 350px;
  padding: 0px;
}

h1 {
  display: inline-block;
  margin: -5 px;
}

.top_padding {
  padding-top: 10%;
}

.ff_box {
  width: 25%;
}